.main>.banner {
    width: 100%;
    height: 16.5rem;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main>.banner>img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.main>.banner>.nav {
    position: absolute;
    left: 9.375rem;
    top: 1.9375rem;
    font-family: RobotoLight;
    color: #fff;
    font-size: 1rem;
}

.main>.banner>.nav>a {
    font-family: RobotoLight;
    color: #fff;
    font-size: 1rem;
}

.main>.banner>.title {
    font-family: LeagueGothicRegular;
    font-size: 5rem;
    color: #fff;
}

.main>.body {
    padding: 5.8125rem 10.9375rem;
    box-sizing: border-box;
    margin-bottom: 10rem;
}

.main>.body>ul {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: .1875rem solid #7c7c7c;
    margin-bottom: 2.9375rem;
}

.main>.body>ul>li {
    padding: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0 .3125rem #7c7c7c;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    font-size: 1.25rem;
    font-family: RobotoBold;
    color: #7c7c7c;
    cursor: pointer;
}

.main>.body>ul>li:nth-child(1) {
    background-color: #7c7c7c;
    color: #fff;
}

.main>.body>form {
    padding: 0 2rem;
    width: 100%;
    color: #393939;
    position: relative;
}

.main>.body>form span>p,.main>.body>form>.input2>p {
    font-size: 1.25rem;
    font-family: RobotoBold;
    color: #393939;
}

.main>.body>form input[type="text"],
select {
    border: .0625rem solid #afafaf;
    width: 29.8125rem;
    height: 2.5rem;
    margin-top: 1rem;
}

.main>.body>form>.input1 {
    margin-bottom: 2.6875rem;
}

.main>.body>form>.input1>div {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.main>.body>form>.input1>div img {
    width: 1rem;
    height: 1rem;
    position: relative;
    bottom: .2rem;
}

.main>.body>form>.input1>div>span {
    margin-right: 1rem;
}

.main>.body>form>.input1>div>span:nth-child(3) {
    margin-top: 1.8rem;
    color: #1f6eaa;
    font-family: RobotoBold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    cursor: pointer;
}

.main>.body>form>.input1>div>span:nth-child(3)>span {
    font-size: 1.25rem;
    margin-right: .3rem;
}

.main>.body>form>.input1>p {
    margin-top: 2.4375rem;
    display: flex;
    align-items: center;
}

.main>.body>form input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    border: .1875rem solid #7c7c7c;
    border-radius: .1875rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: .5rem;
}

.main>.body>form input[type="checkbox"]:checked {
    background-color: #5bb5e5;
}

.main>.body>form>.input2>textarea {
    border: .0625rem solid #afafaf;
    width: 61.5rem;
    height: 8.6875rem;
    margin-top: 1rem;
    margin-bottom: 5.9375rem;
}

.main>.body>form>.input3>div {
    display: flex;
    flex-wrap: wrap;
}

.main>.body>form>.input3>div>span {
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.main>.body>form>.input3>p {
    width: 80%;
    margin-top: 2.4375rem;
    display: flex;
    align-items: start;
}
.main>.body>form>.input3>p>input{
    flex-shrink: 0;
}
.main>.body>form>.input3>p>span{
    font-weight: bolder;
}
.main>.body>form>.input3>p>span>span{
    color: #1f6eaa;
    font-weight: bolder;
}
.main>.body>form>input{
    position: absolute;
    right: 6rem;
    padding: 1rem .5rem;
    font-weight: bolder;
    background-color: #ffde00;
    box-shadow: 0 0 .3125rem .125rem #c5c5c5;
    margin-top: 2rem;
    cursor: pointer;
}
@media screen and (orientation: portrait) {
    .main>.banner>.nav {
        left: 3.375rem;
    }
    .main>.body {
        padding: 5.8125rem .9375rem;
        box-sizing: border-box;
        margin-bottom: 10rem;
    }
    .main>.body>form>.input2>textarea {
        width: 51.5rem;
    }
    .main>.body>form>.input1 input[type="text"]{
        width: 22rem;
    }
    .main>.body>form input[type="text"],
select {
    border: .0625rem solid #afafaf;
    width: 26.8125rem;
    height: 2.5rem;
    margin-top: 1rem;
}
}